image: ubuntu:24.04

kernel:
  source: release://latest

resources:
  vcpu: 2
  memory_mb: 2048
  disk_mb: 4096

workspace:
  mount: .
  target: /workspace
  sync_back: false
  sync_deletes: false
  sync_confirm: true

volumes:
  - source: ./.cache/pip
    target: /cache/pip
    read_only: false
    sync_back: false
    ownership: process

network:
  mode: vsock
  deny_if_no_sni: false
  mitm:
    enabled: true
    ca:
      install_system: true
      install_docker: true
  dns:
    allowed:
      - api.github.com
  tcp:
    allowed_cidrs: []
    denied_cidrs: []
  tls:
    allowed_sni:
      - api.github.com
  http:
    default: deny
    rules:
      - action: allow
        host: api.github.com
        methods: ["GET"]
        paths:
          - /repos/*

features:
  - name: docker
    config:
      storage_driver: overlay2

process:
  uid: 1000
  gid: 1000

env:
  static:
    TERM: xterm-256color
    PIP_CACHE_DIR: /cache/pip
  from_host:
    GITHUB_TOKEN: GITHUB_TOKEN
  from_command:
    BUILD_SHA:
      command: ["git", "rev-parse", "HEAD"]
